

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
      
}

header{
    font-family: font-family europa, sans-serif;
    display:flex;
    justify-content: space-between;
    margin:auto;
    width: 90%;
    margin-top: 30px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-men{
    margin: 9px;
}
.say-hello-elem{
    border: 2px solid rgb(117, 16, 247);
    border-radius: 22px;
    padding: 7px;
    color: rgb(111 0 255);
    width: 120px;
    text-align: center;
    font-family: "europa", sans-serif;
}
.say-hello-elem:hover{
   background: rgb(117, 16, 247);
   color:white;
   transition: transform 500ms ease-in-out 25ms;
   font-family: "europa", sans-serif;
}
.headline-sec{
   
    margin-top: 20px;
    text-align: center;
}

.header{
    font-size: 48px;
    font-family: eurostile, sans-serif;
    font-weight: 300;
}
.below-header{
    font-size:20px;
    margin: 20px;
}
.my-pic{
    border-radius:50%;
    background-color: #c000ff;
    margin-top:30px;
}
.monitor{
    margin-top: 30px;
}
.details{
    text-align: center;
    margin-top: -4px;
    background: #7510f7;
    color: white;
}
.personal-info{
    margin: auto;
    text-align: center;
    width: 900px;
    justify-content: space-around;
    padding: 5%;
}
.name{
    padding: 20px;
}
.work{
    line-height: 1.6;
    font-weight: lighter;
}
.skill{
    
        display: flex;
        justify-content: space-around;
}
.container-skill{
    display: flex;
    justify-content: space-evenly;
    margin-top: -45px;
    margin-bottom: -45px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(117 16 247);
    
}
.tools{
    list-style: none;
    line-height: 1.6;
}
.center{
    text-align: center;
    width:50%;
    padding: 5%;
    
}
p{
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.6;
}
.skill-title{
    padding-top: 25px;
    padding-bottom: 25px;
}
.things{
  margin:10px;
  color:rgb(117, 16, 247);
  font-weight: bold;
}
footer{
    text-align: center;
    background-color: rgb(117, 16, 247);
    padding:100px;

}
footer>div{
    display: flex;
    justify-content: space-evenly;
}
footer>p{
    color: #fff;
    padding: 10px;
    

}